/* Body Style */

body {
 margin-left: auto; 
 margin-right: auto;
 max-width: 960px; 
 min-width: 640px; 
 width: 95%; 
}


section img {
    float: left;
    width: 200px;
}
#main2 h1 {
    float: left;
}
#main2 p {
    clear: both
}

#list1 {
    float: left;
}
#list2 {
    float: left;
}
blockquote {
    display: block;
    font-family: serif;
    font-style: italic;
    font-size: 1.2em;
    margin: 15px;
    border: 2px solid #b0d2cb;
    border-left-width: 10px;
}
#main2 p {
    font-family: serif;
    font-size: 18px;
    text-align: left;
    padding: 5px;
    margin: 3px;
}
#main5 {
    display: block;
    padding: 20px;
    margin: 0;
}
aside img {
    width: 350px;
}
.gallery img {
    width: 150px;
    margin: 10px;
    padding: 15px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover {
    filter: grayscale(0);
}
.rev1 {
    display: block;
    float: left;
    width: 400px;
}
.rev2 {
     display: block;
    float: left;
    width: 400px;
}
/* Body Grid */

body { 
 display: grid;
 grid-template-columns: 2fr 1fr;
 grid-template-areas: "header header" 
 "intro faq" 
 "articles faq" 
 "footer footer";
  grid-column-gap: 1px;  
}

body > header { 
 grid-row: 1; 
 grid-column: 1/-1; 
}

body > article {grid-area: intro;}
body > aside {grid-area: faq;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}

body > * { 
 outline: 2px dashed red; 
}

section > * { 
 outline: 2px dashed blue; 
}

section > h1 { 
 grid-area: 1/1/2/3;
 text-align: center;
}
.gallery {
    grid-row: 2;
    grid-column: 1/-1;
}

.reviews {
    grid-row: 3;
    grid-column: 1/-1;
}



/* Horizontal Navigation Styles */


body { 
 line-height: 1.9em; 
}

header {
    background-color: #c96868;
}

#main1 a {
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;
}
#main1 li { 
 display: block; 
 float: left; 
}
#main1 a { 
 display: block; 
 text-align: center; 
}


body > header > img { 
 display: block; 
 width: 100%; 
}
body > header > #main1 li { 
 width: 20%; 
}

/*--form style---*/

form {
    display: block;
    border: 3px solid black;
    padding: 15px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type=submit] {
  background-color: #c96868;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
